---
title: Lesson 2
---

#r1
  %h2 Reading 1
  = partial 'reading-pali/2/r1'

#r2
  %h2 Reading 2
  = partial 'reading-pali/2/r2'

#r3
  %h2 Reading 3
  = partial 'reading-pali/2/r3'

#fr1
  %h2 Further Reading 1
  = partial 'reading-pali/2/fr1'

#fr2
  %h2 Further Reading 2
  = partial 'reading-pali/2/fr2'
