#r1
  %h2 Reading 1
  = partial 'reading-pali/1/r1'

#r2
  %h2 Reading 2
  = partial 'reading-pali/1/r2'

#r3
  %h2 Reading 3
  = partial 'reading-pali/1/r3'

#r4
  %h2 Reading 4
  = partial 'reading-pali/1/r4'

#fr1
  %h2 Further Reading 1
  = partial 'reading-pali/1/fr1'

#fr2
  %h2 Further Reading 2
  = partial 'reading-pali/1/fr2'
